<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - PMC.DashBoard</title>

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://npmcdn.com/flatpickr/dist/l10n/vn.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/vi.js"></script>
    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  
    <!-- AdminLTE -->
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <style>
        .chart-container {
            width: 100%;
            overflow-x: auto;
        }

        .chart-scroll {
            min-width: 100%;
            height: 500px; /* Điều chỉnh chiều cao theo nhu cầu */
        }
     
        .card-body {
            padding: 0.5rem !important;
        }

        .input-group {
            flex-wrap: nowrap;
        }

        .input-group-prepend {
            display: flex;
        }

        .input-group-text {
            white-space: nowrap;
        }

        #courseSelect {
            flex: 1;
        }
        .input-group-text, .custom-select, .form-control, .btn {
            height: 38px;
        }

        .input-group {
            position: relative;
        }

        .rating-bar {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .rating-bars {
            max-width: 600px;
            margin: 0 auto;
        }

        .rating-bar {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 16px;
        }

            .rating-bar .stars {
                min-width: 120px;
                color: #ffc107;
                margin-right: 15px;
            }

            .rating-bar .progress {
                flex-grow: 1;
                height: 25px;
                background-color: #e9ecef;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            }

            .rating-bar .progress-bar {
                background-color: #28a745;
                transition: width 0.6s ease;
            }

            .rating-bar .percent {
                min-width: 60px;
                text-align: right;
                font-weight: bold;
                margin-left: 15px;
            }

            .rating-bar .fas, .rating-bar .far {
                margin-right: 2px;
            }
     
        .select2-container--default .select2-selection--single {
            height: calc(2.25rem + 2px) !important;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 1.5;
                color: #495057;
                padding-left: 0;
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: calc(2.25rem + 2px);
                position: absolute;
                top: 0;
                right: 0;
                width: 2.25rem;
            }

                .select2-container--default .select2-selection--single .select2-selection__arrow b {
                    border-color: #495057 transparent transparent transparent;
                }

        .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: transparent transparent #495057 transparent;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            border: 1px solid #ced4da;
        }

        .select2-results__option {
            padding: .375rem .75rem;
            font-size: 1rem;
        }
    
        input[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
        }

        input[type="date"]::-webkit-input-placeholder {
            visibility: visible !important;
        }
        .chart-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .chart-row {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        .chart-legend {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .legend-item {
            display: flex;
            align-items: center;
            margin: 0 10px;
            
        }

        .legend-color {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border-radius: 4px;
        }

        .legend-text {
            font-size: 14px;
        }
        .btn-block {
            height: calc(1.5em + .75rem + 2px);
            width: 25%;
        }

        .form-group {
            margin-bottom: 0;
        }

        .chart-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .chart {
            width: 45%;
            height: 400px;
            margin-bottom: 20px;
        }

        .rating-bars .rating-bar {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

            .rating-bars .rating-bar .stars {
                min-width: 100px;
                font-size: 18px;
                color: #ffc107;
            }

            .rating-bars .rating-bar .progress {
                flex-grow: 1;
                margin: 0 10px;
                height: 20px;
            }

            .rating-bars .rating-bar .percent {
                min-width: 50px;
                text-align: right;
            }

        #pharmacistTable_wrapper .dataTables_length {
            float: left;
        }

        #pharmacistTable_wrapper .dataTables_filter {
            float: right;
        }

        #pharmacistTable_wrapper .dataTables_info {
            padding-top: 0.85em;
        }

        #pharmacistTable_wrapper .dataTables_paginate {
            padding-top: 0.5em;
        }

        #pharmacistTable_wrapper .paginate_button {
            padding: 0.5em 0.75em;
            margin-left: 2px;
            border: 1px solid #dee2e6;
            background-color: #fff;
            color: #007bff;
        }

            #pharmacistTable_wrapper .paginate_button.current {
                background-color: #f8f9fa;
                border-color: #dee2e6;
                color: #495057;
            }

            #pharmacistTable_wrapper .paginate_button:hover {
                background-color: #e9ecef;
                border-color: #dee2e6;
                color: #0056b3;
            }

        #pharmacistTable_wrapper .dataTables_length select {
            width: auto;
            display: inline-block;
        }

        #pharmacistTable_wrapper .dataTables_length label {
            display: flex;
            align-items: center;
        }

    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- User Icon -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i style="font-size:35px" class="fas fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" id="logoutButton">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link text-center">
                <span class="brand-text font-weight-light">@Context.Session.GetString("SponsorName")</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        @{
                            bool hasHub = bool.Parse(Context.Session.GetString("HasHub") ?? "true");
                        }
                        @if (hasHub)
                        {
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                                    <i class="nav-icon fas fa-chart-line"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CourseStatistics" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "CourseStatistics" ? "active" : "")">
                                    <i class="nav-icon fas fa-chart-column"></i>
                                    <p>Thống kê theo khóa học</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CourseActivity" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "CourseActivity" ? "active" : "")">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>Hoạt động trên khóa học</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CourseSurvey" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "CourseSurvey" ? "active" : "")">
                                    <i class="nav-icon fas fa-square-poll-vertical"></i>
                                    <p>Khảo sát khóa học</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="LessonStatistics" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "LessonStatistics" ? "active" : "")">
                                    <i class="nav-icon fas fa-chart-pie"></i>
                                    <p>Thống kê theo bài học</p>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-controller="Sale" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Sale" ? "active" : "")">
                                <i class="nav-icon fas fa-money-check-alt"></i>   
                                <p>Bán hàng tích điểm</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <strong>Copyright &copy; 2024 <a href="#">PMC.DashBoard</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Admin/dist/js/adminlte.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>